@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <br />
  <input type="submit" value="Delete" class="btn btn-danger btn-lg" />
}
<br />
@Html.ActionLink("Back to List", "Index")