html {
  text-align: center;
}

body {
  background-color: black;
  background-image: url(../img/hair.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.956);
}

h1 {
  font-size: 60px; 
  background: linear-gradient( 
      to right, #a77b4d, #69a2f1, 
       #a77b4d, #e9d3be); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
}

h2 {
  font-size: 50px;
}

.main-container {
  position: right;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 100px;
  padding: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 350px;
  max-height: 525px;
  overflow-y: auto;
}

.form-control {
  margin: auto;
  width: 150px;
}

.btn {
  width: 150px;
}

.form-inline {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 100px;
  outline: none;
}

.form-inline:hover {
  text-decoration: none;
  border: none;
}

.search-button .btn {
  margin: auto;
  margin-right: 50px;
  width: 32px;
}

.stylists {
  background-color: rgba(0, 0, 0, 0.893);
  border-radius: 75px;
  margin: auto;
  margin-top: 10px;
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 85%;
}

.badge a, .inquire a {
  color: white;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#3333336d;
  padding:8px;
}