html {
  text-align: center;
}

body {
  background-color: black;
  background-image: url(../img/hair.jpg);
  background-size: cover;
  color: rgba(255, 255, 255, 0.956);
}

.main-container {
  background-color: rgba(0, 0, 0, 0.421);
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 100px;
  padding: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 350px;
  max-height: 525px;
  overflow-y: auto;
}