html {
  text-align: center;
}

body {
  background-color: black;
  background-image: url(../img/hair.jpg);
  background-size: cover;
  color: rgba(255, 255, 255, 0.956);
}

h1 {
  font-size: 75px; 
  background: linear-gradient( 
      to right, #a77b4d, #69a2f1, 
       #a77b4d, #e9d3be); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
}

.main-container {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 100px;
  padding: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 350px;
  max-height: 525px;
  overflow-y: auto;
}

.stylists {
  background-color: rgb(247, 238, 211);
  border-radius: 75px;
  margin: auto;
  margin-top: 10px;
  height: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 85%;
}