@{
  Layout = "_Layout";
}

<br />
<br />
<h2>PREMIUM SALON SERVICES</h2>
<br />
L'embuscade, 47 Rue Catherine de La Rochefoucauld
Paris
Île-de-France

<div class="stylists">
  <br />
  <span class="inquire">@Html.ActionLink("Inquire", "Create", "Clients")</span>
</div>