@{
  Layout = "_Layout";
}

<h2>PREMIUM SERVICES</h2>
L'embuscade, 47 Rue Catherine de La Rochefoucauld
Paris
Île-de-France


<div class="stylists">
  <br />
  <span class="inquire">@Html.ActionLink("Inquire", "Create", "Clients")</span>
</div>