@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h2> @Model.FirstOrDefault().Stylist.Name's Schedule</h2>

@if (@Model.Count == 0)
{
  <h3>No clients have been added yet.</h3>
} 

@foreach (Client client in Model)
{
  <div class="clients">
    @Html.ActionLink($"{client.Name} | {@client.ScheduledAppointment}", "Details", new { id = client.ClientId }) 
  </div>
}

<div class="stylists">
  @Html.ActionLink("New", "Create")
</div>
